@font-face {
font-family: "InkFree";
src: url("InkFree.ttf");
src: url("InkFree.woff") format("woff");
}

body {
  background-color: #000;
  color: #888;
  font-family: InkFree;
  line-height: 26px;
  margin: 0px;
  overflow: hidden;
  text-shadow: 3px 3px black;
}

#container {
	box-sizing: border-box;
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#buttons {
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  color: yellow;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: white;
}
#buttons :hover{
  color:#DDDDDD;
 border-color:#DDDDDD;
}
#buttons :active{
  color:#BBBBBB;
 border-color:#BBBBBB;
}

#startButton {
  font-family: InkFree;
  color: yellow;
  font-weight: bold;
  border: 5px solid;
  padding: 20px 50px;
  cursor: pointer;
  font-size: larger;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  outline:none;
}


#marineButton {
  font-family: InkFree;
  color: yellow;
  font-weight: bold;
  border: 5px solid;
  padding: 20px 50px;
  cursor: pointer;
  font-size: larger;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  outline:none;
}

#instructionsButton {
  font-family: InkFree;
  color: yellow;
  font-weight: bold;
  border: 5px solid;
  padding: 20px 50px;
  cursor: pointer;
  font-size: larger;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  outline:none;
}

#frontimg {
	position: absolute;
	width: 100%;
	height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
	/* background-color: rgba(0, 0, 0, 0.5); */
}
#title {
  position: relative;
  left: 10%;
  top: 48%;
  font-weight: bold;
  font-variant: all-petite-caps;
  font-size: 100px;
  color: yellow;
}
#title2 {
  position: relative;
  left: 10%;
  top: 60%;
  font-weight: bold;
  font-variant: all-petite-caps;
  font-size: 200px;
  color: red;
  text-shadow: 5px 5px black;
}

#currentVel {
  margin-top: 2%;
  margin-left: 2%;
  left: 0;
  top: 0;
  font-size: 50px;
}

#thesholdVel {
  margin-top: 2%;
  margin-left: 2%;
  left: 0;
  top: 0;
  font-size: 50px;
}

#instructions {
  position: absolute;
	width: 50%;
	height: 70%;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  /* font-family: 'Courier New'; */
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
  color: #ffffff;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
	text-align: center;
	cursor: pointer;
}

#velocityDisplay{
  color: yellow;
}


ol, ul {
  padding-left: 30px;
}
